body {
    background-color: burlywood;
}

#header {
    text-align: center;
    font-size: 50px;
    color: blanchedalmond;
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

#navBar > li {
    margin: 10px;
}

.flex {
    display: flex;
    justify-content: center;

}