* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #23252C;
    font-family: Inter, sans-serif;
    text-align: center;

}

.main-pic {
    border-radius: 10px 10px 0px 0px;
    width: 317px;
    height: auto;
    margin: 0px;
    position: absolute;
    top: 44px;
    left: 675px;
    
    
    

}

main {
    background-color: #1A1B21;
    width: 317px;
    height: 400px;
    position: absolute;
    top: 500px;
    left: 675px;


}

.footer {
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    width: 317px;
    height: 64px;
    position: absolute;
    top: 900px;
    left: 675px;
}

main > h1 {
    color: white;
    font-size: 25px;
    line-height: 30.26px;
    margin-bottom: 5px;
    
}

.job-title {
    color: #F3BF99;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15.49px;
    margin-top: 0px;
}

main > h3 {
    color: #F5F5F5;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15.36px;
    margin-top: 0px;
}

.button {
    box-sizing: border-box;
    background: white;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    width: 247px;
    height: 34px;
    left: 151px;
    top: 469px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.body-container {
    text-align: left;
    margin: 40px;


}

.about {
    color: white;
    font-size: 20px;
    line-height: 55px;
    margin-bottom: 0px;
    
    
}

.first-paragraph {
    color: white;
    font-size: 12px;
    line-height: 15px;
    margin-top: 0px;
    font-style: normal;
    
}
.interests {
    color: white;
    font-size: 20px;
    line-height: 55px;
    margin-bottom: 0px;
    
    
}

.second-paragraph {
    color: white;
    font-size: 12px;
    line-height: 15px;
    margin-top: 0px;
    font-style: normal;
    
}


