body {
    font-family: 'Kanit', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1521193089946-7aa29d1fe776?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}


#title {
    text-align: center;
    font-size: 30px;
}

#input-field {
    padding: 12px 20px;
    margin: 8px 0;
}

#container {
    display: flex;
    justify-content: center;
}