* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter';
    
    
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.badge-container {
    display: grid;
    grid-column: 2;
    grid-template-columns: 50% 50%;
    margin-bottom: 0px;

}

.title {
    background: grey;
    height: 40px;
    margin-top: 0px;
    
}


.form{
     border: 2px solid black;
     border-radius: 5px;
     margin-top: 20px;
     width: 500px;
     text-align: center;
     box-shadow: 3px 2px;
     
   
}

input, textarea {
    border: 2px solid black;
    margin: 10px;
    font-family: 'Inter';
}

p {
    margin: 5px;
    font-family: 'Inter';
    

    
}

.main-textarea {
    width: 400px;
    height: 80px;
    
}

button {
    border: 2px solid black;
    width: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;

}

.badge-header {
    background: grey;
    height: 40px;
    margin-top: 0px;
    grid-column: 1/3;
    
}

.badge-textarea {
    grid-column: 1/3;
}

.badge-name{
    grid-column: 1/2;
}