* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 100px;
    text-align: center;
    background: beige;
}

.dice {
    margin-top: 300px;
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;

}

.button {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(90.41deg, #31e44f 1.14%, #d7da18 100%);
}