* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

nav:hover {
    background-color: rgb(168, 168, 168);
    transition-duration: 650ms;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 12px;
}

li:hover {
    color: rgb(184, 183, 183);
    transition-duration: 500ms;
}

.header {
    height: 450px;
    text-align: center;
    background-image: url(/src/header-pic.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    
}


.list--section {
    display: flex;
    justify-content: center;

}

.list--item {
    padding: 30px;
    width: 680px;
    
}

.list--title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0px;
}

.list--subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 10px;
}

.list--authorDate {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

